$yellow-primary: #FFE600;
$black-primary: #333333;
$gray-dark: #666666;
$gray-medium: #999999;
$gray-light: #EEEEEE;
$white: #FFFFFF;
$blue: #3483FA;
$blue-hover: #2968C8;

$container-width: 1200px;

